#Specific Folders and Directories
# the ~/builds is linked to an empty sceleton folder. The "builds"-directory is meant to be used at a temporary place for building and compiling code.
git/builds

# Ignore Ubuntu font cache files
.uuid

# Vim config directory
vim/.vim/autoload
vim/.vim/doc/vim/.vim/doc/
vim/.vim/doc/
vim/.vim/plugin/
vim/.vim/pack/

# Ignore Gitk config, it changes position all the time
git/.config/git/gitk

